*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-con{
    color: #344d75;
    font-size: 30px;
    width: 100%;
    height: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    /* border-bottom: 1px solid #ccc; */
  }
  .left-menu,
  .head-con,
  .right-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.head-con img {
    height: 40px;
}

.left-menu {
    justify-content: flex-start;
  }
  
  .right-menu {
    justify-content: flex-end;
  }
  
  .left-menu ul,
  .right-menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .left-menu a,
  .right-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
  }

span {
  white-space: nowrap;
}



.has-dropdown {
    position: relative; /* 기준점 */
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .has-dropdown:hover .dropdown {
    display: flex;
  }